@import '~@/assets/scss/_variables.scss';

aside {
    position: relative;
    width: 270px;
    height: 100vh;

    @media screen and (max-width: $break-small) {
        width: 50px !important;
    }

    @media screen and (max-width: $break-medium) {
        width: 66px;
    }

    div.img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('~@/assets/img/icon/overview/background.jpg');
        background-repeat: no-repeat;
        background-position: 30% 34%;
    }

    div.overlay {
        position: absolute;
        background-color: #9baac2;
        opacity: 0.5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    div.wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        section.menu {
            div.sidebar-header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 4rem;
                margin-bottom: 8rem;
                cursor: pointer;

                @media screen and (max-width: $break-medium) {
                    margin-top: 2rem;
                    margin-bottom: 4rem;
                }

                svg.logo {
                    width: 58.5px;
                    height: 58.5px;
                    margin-bottom: 0.75rem;
                    user-select: none;

                    @media screen and (max-width: $break-medium) {
                        width: 36px;
                        height: 36px;
                    }
                }

                h1 {
                    font-family: 'Roboto Condensed', sans-serif;
                    text-transform: uppercase;
                    font-size: 25pt;
                    font-weight: 300;
                    user-select: none;
                    @media screen and (max-width: $break-medium) {
                        display: none;
                    }
                }
            }

            a.sidebar-item {
                display: flex;
                width: 100%;
                height: 50px;
                justify-content: center;
                cursor: pointer;
                transition: background-color 0.5s;
                
                &:hover{
                    background-color: rgba(255,255,255,.05);
                }

                div.sidebar-item-inner {
                    display: flex;
                    width: 80%;
                    justify-content: flex-start;
                    align-items: center;

                    @media screen and (max-width: $break-medium) {
                        justify-content: center;
                    }

                    svg.icon {
                        width: 20px;
                        height: 20px;
                        margin-right: 1rem;
                        @media screen and (max-width: $break-medium) {
                            margin-right: 0;
                            // width: 22px;
                            // height: 22px;
                        }
                    }

                    span {
                        @media screen and (max-width: $break-medium) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
