@import '../../_variables.scss';

div.option-display,
div.option-list-display {
    border-radius: 1px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -5.5px;
    &::before {
        display: block;
        content: '';
        position: absolute;
        top: -1rem;
        border-bottom: 1rem solid rgba(0, 0, 0, 0.8);
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
    }
    div.wrapper {
        background-color: rgba(0, 0, 0, 0.8);
        a.option-item {
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            padding: 0.5rem;
            user-select: none;
            &:hover {
                svg,
                span {
                    opacity: 1;
                }
            }
            span {
                color: white;
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                opacity: 0.85;
                line-height: normal;
                padding-left: 0.5rem;
            }
            svg {
                fill: white;
                width: 1rem;
                height: 1rem;
                opacity: 0.85;
            }
        }
    }
}
