/* Imports */
@import '_reset';
@import '_variables';

/* Global */
html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $background-color;
    font-weight: 300;
    font-size: 100%;
}

#page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

main {
    display: flex;
    flex: 1;
}

/* Global definition */
.checkbox {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0;
    transition: 0.1s;
    &:hover,
    &:checked {
        opacity: 1 !important;
    }
}

/* Extras */
.no-hover:hover {
    cursor: default !important;
    box-shadow: none !important;
}

div.spacer-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Forms */
input.input-error {
    border: 1px solid rgba(255, 0, 0, 0.5) !important;
}

input.text-input,
input.text-input-invalid {
    display: block;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
    border: 1px solid $contour-color;
    line-height: 1.5;
    font-size: 18px;
    width: 100%;
    outline: none;
}

input.text-input-invalid {
    border: 1px solid rgba(255, 0, 0, 0.65);
}

/* Flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

/* Button */
input.confirm-button {
    display: block;
    padding: 4px 8px;
    border-radius: 2px;
    border: 1px solid black;
    line-height: 1.5;
    font-size: 18px;
    color: white;
    cursor: pointer;
    background-color: #007e33;
    width: 100%;
    outline: none;
    &:hover {
        background-color: darken(#007e33, 5%);
    }
}

/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
