/* Variables */
$primary-color: #c00;
$background-color: #fafafa;
$emphasize-color: #f3f3f3;
$contour-color: rgba(0, 0, 0, 0.15);

$footer-color: #3e4551;

$progress-color: $primary-color;
$progress-background-color: rgba(0, 0, 0, 0.25);
