@import '../../_variables.scss';

div.option-list-display {
    top: 55px;
    &::before {
        left: 2.5px;
    }
}

div.option-display {
    margin-top: 3px;
    left: 1rem;
    &::before {
        left: 8px;
    }
}

div.option-display,
div.option-list-display {
    border-radius: 1px;
    position: absolute;
    border: 1px solid #cccbcb;
    z-index: 1;
    &::before {
        display: block;
        content: '';
        width: 1rem;
        height: 1rem;
        background-color: green;
        position: absolute;
        top: -8.7px;
        border-top: 1px solid #cccbcb;
        border-left: 1px solid #cccbcb;
        transform: rotate(45deg);
        background-color: #fafafa;
        z-index: -1;
    }
    div.wrapper {
        background-color: $background-color;
        a.option-item {
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            padding: 0.5rem;
            &:hover {
                i,
                span {
                    opacity: 1;
                }
            }
            span {
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                opacity: 0.75;
                line-height: normal;
                padding-left: 0.5rem;
            }
            i {
                width: 1rem;
                height: 1rem;
                opacity: 0.75;
            }
            i.info {
                background: url('~/assets/img/icon/information.svg') no-repeat center;
            }
            i.share {
                background: url('~/assets/img/icon/share.svg') no-repeat center;
            }
            i.upload {
                background: url('~/assets/img/icon/upload.svg') no-repeat center;
            }
            i.directory {
                background: url('~/assets/img/icon/directory.svg') no-repeat center;
                background-size: 1.1rem;
            }
            i.download {
                background: url('~/assets/img/icon/download.svg') no-repeat center;
            }
            i.edit {
                background: url('~/assets/img/icon/edit.svg') no-repeat center;
            }
            i.remove {
                background: url('~/assets/img/icon/trash.svg') no-repeat center;
            }
        }
    }
}
