@import '~@/assets/scss/_variables.scss';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('~@/assets/img/icon/login/login_bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 75%;

    div.page-wrapper {
        height: 100%;
        width: 1200px;

        @media screen and (max-width: $break-large) {
            width: 100%;
        }

        header,
        footer {
            display: flex;
            padding: 0 16px;

            @media screen and (max-width: $break-small) {
                padding: 0;
            }
        }

        header {
            height: 45px;
            justify-content: flex-end;
        }
    }
}
