@import '../../_variables.scss';

main {
    display: flex;
    background-image: url('../../../img/icon/overview/_tmp.jpg');
    background-repeat: no-repeat;

    div.center {
        width: calc(100vw - 270px);
        background-color: white;
        // opacity: .75;

        section.list {
            div.row-wrapper {
                height: calc(100vh - 98px - 50px);
                overflow-y: auto;
                overflow-x: hidden;
            }
            div.side {
                display: flex;
            }
        }
    }
}
