@import '../../_variables.scss';

main {
    display: flex;
    background-image: url('../../../img/icon/overview/_tmp.jpg');
    background-repeat: no-repeat;

    div.center {
        width: calc(100vw - 270px);
        background-color: white;
        // opacity: .75;

        section.list {
            height: calc(100vh - 98px - 50px);
            overflow-y: auto;

            div.list-row {
                width: calc(100vw - 270px);
            }
        }

        div.list-row.header {
            border-top: 1px solid $contour-color;
            border-bottom: 1px solid $contour-color;

            div.list-item {
                span {
                    font-weight: 400;
                }
            }
        }
    }
}
