@import '../_variables.scss';

main {
    justify-content: center;
    padding: 10rem 1rem 1rem;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        img.logo {
            width: 12rem;
            margin-bottom: 2rem;
        }
        input {
            margin-bottom: 0.5rem;
        }
        div {
            display: flex;
            width: 100%;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
            input[type='checkbox'] {
                width: 0.85rem;
                height: 0.85rem;
                border: 1px solid black;
                margin: 0 0.5rem 0 0;
            }
            span {
                font-size: 14px;
                cursor: pointer;
            }
        }
        .confirm-button-wrapper {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            padding: 4px 8px;
            border-radius: 2px;
            border: 1px solid black;
            line-height: 1.5;
            color: white;
            cursor: pointer;
            background-color: #007e33;
            width: 100%;
            outline: none;
            &:hover {
                background-color: darken(#007e33, 5%);
            }
            span {
                font-size: 18px;
                font-weight: 400;
            }
            span.loading {
                display: flex;
                position: absolute;
                right: 0.5rem;
                &:before {
                    content: '';
                    top: 50%;
                    left: 50%;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    border: 0.15rem solid lightgray;
                    border-top-color: $primary-color;
                    animation: spinner 0.8s linear infinite;
                }
            }
        }
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
