@import '../../_variables.scss';

#footer {
    display: flex;
    width: 100%;
    background-color: $footer-color;
    justify-content: space-between;
    div {
        display: flex;
        a.footer-button {
            cursor: pointer;
            text-decoration: none;
            &:hover {
                font-weight: normal;
            }
        }
    }
    div > a.footer-button,
    span.copyright {
        padding: 0.5rem;
        color: white;
        font-size: 15px;
    }
}
