/* Variables */
$primary-color: #505e72;
$primary-light-color: #7d8ba1;
$primary-dark-color: #263447;

$background-color: #fafafa;
$emphasize-color: #f3f3f3;
$contour-color: rgba(0, 0, 0, 0.15);

$footer-color: $primary-dark-color;

$progress-color: $primary-color;
$progress-background-color: rgba(0, 0, 0, 0.25);

/* Responsive */
$break-small: 480px;
$break-large: 1200px;
