@import '../../_variables.scss';

span.extension,
div.list-summary {
    opacity: 0.35;
    transition: 0.25s;
}

div.list-row-hover {
    cursor: pointer;
    &:hover {
        background-color: #eee;
        input.checkbox {
            opacity: 1 !important;
        }
    }
}

div.list-row:not(:last-of-type) {
    border-bottom: 1px solid $contour-color;
}

div.list-header,
div.list-row,
div.list-summary {
    display: flex;
    align-items: center;
    background-color: $background-color;
    transition: 0.25s;
    text-decoration: none;
    height: 3rem;
    &:hover {
        div.list-item {
            i.file-icon,
            i.directory-icon {
                opacity: 1;
            }
            span.extension {
                opacity: 0.7;
            }
        }
    }
    div.list-item {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 0.5rem;
        white-space: nowrap;
        i.file-icon,
        i.directory-icon {
            display: inline-block;
            width: 2.25rem;
            height: 2.25rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: 50%;
            opacity: 0.75;
            transition: 0.25s;
        }
        i.file-icon {
            background-image: url('~/assets/img/icon/file.svg');
        }
        i.directory-icon {
            background-image: url('~/assets/img/icon/directory.svg');
        }
        i.status-icon-accepted,
        i.status-icon-attention,
        i.status-icon-progress {
            width: 1.5rem;
            height: 1.5rem;
            background-size: 100% 100%;
        }
        i.status-icon-accepted {
            background: url('~/assets/img/icon/accepted.svg') no-repeat center;
        }
        i.status-icon-attention {
            background: url('~/assets/img/icon/attention.svg') no-repeat center;
        }
        i.status-icon-progress {
            background: url('~/assets/img/icon/progress.svg') no-repeat center;
        }
        i.dropdown-icon {
            width: 0.75rem;
            height: 0.75rem;
            transform: rotate(90deg);
            background: url('~/assets/img/icon/dropdown.svg') no-repeat center;
            background-size: 100% 100%;
        }
        input.volume-input {
            margin: 0 0.25rem;
            max-width: 50%;
            font-weight: 300;
            font-size: 16px;
            padding: 0;
            background-color: $background-color;
            outline: 0;
            border: 1px solid $contour-color;
        }
        span {
            overflow-x: hidden;
            text-overflow: ellipsis;
            user-select: none;
            line-height: 1.5;
        }
        span.volume-label {
            top: 1px;
            position: relative;
        }
        a.list-button {
            display: flex;
            width: 50%;
            height: 100%;
            align-items: center;
            cursor: pointer;
            justify-content: center;
            &:hover > i {
                opacity: 1 !important;
            }
            i.extended-menu-icon,
            i.remove-icon {
                width: 18px;
                height: 18px;
                display: inline-block;
            }
            i.extended-menu-icon {
                background: url('~/assets/img/icon/extended-menu.svg') no-repeat center;
                opacity: 0.25;
                cursor: pointer;
            }
            i.remove-icon {
                background: url('~/assets/img/icon/trash.svg') no-repeat center;
                opacity: 0.75;
            }
        }
    }
}

div.list-header {
    border-bottom: 1px solid $contour-color;
    div.list-item {
        font-weight: 400;
        div {
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                i.dropdown {
                    display: inline-block;
                    opacity: 0.5;
                }
            }
            span {
                user-select: none;
            }
            i.dropdown {
                display: none;
                width: 1rem;
                height: 1rem;
                background-image: url('~/assets/img/icon/dropdown.svg');
                background-size: 75%;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                padding: 0 0.25rem;
                &-active {
                    transform: rotate(180deg);
                }
                &-shown {
                    display: inline-block;
                    opacity: 1 !important;
                }
            }
        }
    }
}
