div.empty-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 3rem);
    i.directory-icon {
        margin: 0 auto;
        display: inline-block;
        width: 4rem;
        height: 4rem;
        background-size: 1.5rem;
        background: url('~/assets/img/icon/list/directory.svg') no-repeat right;
    }
    h2,
    span {
        opacity: 0.75;
        line-height: 1.5;
    }
    span {
        font-size: 14px;
    }
    a {
        margin-top: 1rem;
    }
}
