@import '../../_variables.scss';

div.list-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $contour-color;
    width: 100%;
    margin-top: 0.5rem;
    div {
        display: flex;
        align-content: center;
        padding: 0.5rem;
        white-space: nowrap;
        font-weight: 400;
        div {
            cursor: pointer;
            &:hover {
                i.dropdown {
                    display: inline-block;
                    opacity: 0.5;
                }
            }
            span {
                user-select: none;
            }
            i.dropdown {
                display: none;
                width: 1rem;
                height: 1rem;
                background-image: url('~/assets/img/icon/dropdown.svg');
                background-size: 75%;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                padding: 0 0.25rem;
                &-active {
                    transform: rotate(180deg);
                }
                &-shown {
                    display: inline-block;
                    opacity: 1 !important;
                }
            }
        }
    }
}
